/*
  ****************************************
  GLOBAL
  ****************************************
 */
 html{
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
 }
 body {
	margin:20px auto;
	min-width:960px;
	max-width:90%;
}
.content {
	padding:5px;
}
h1 {
	margin:0
}
#form h1,#form h2, #form h3, #form h4,#form h5,#form h6 {
	display:inline;
}
#form ul li {
	list-style-type:none;
}
a:link {
	color:#8BADCF;
	text-decoration:none;
}
a:visited {
	color:#8BADCF;
	text-decoration:none;
}
a:hover {
	color: #627eb7;
}
#linked_data a {
	margin:5px;
}
/*
  ***************************************
  HEADER
  ***************************************
 */
#banner {
	background-color: #ebebeb;
}
#hd .align-left {
	text-align:left;
}
#hd .align-right {
	text-align:right;
}
#hd .align-center {
	text-align:center;
}
.banner_text {
	padding:20px;
	font-size:24px;
	font-weight:bold;
	letter-spacing:4px;
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#ft {
	padding:10px 0;
	text-align:center;
	background-color:#ebebeb;
	width:100%;
}
/*
  ****************************************
  ADMIN PAGE
  ****************************************
 */
.page_toc {
	font-size:12px;
}
.browse_table {
	width:100%;
}
.odd-row {
	background-color:white;
	margin:10px 0;
	padding:10px 0;
	vertical-align:top;
}
.even-row {
	background-color:#EFEFEF;
	margin:10px 0;
	padding:10px 0px;
	vertical-align:top;
}
.center {
	text-align:center;
}
.expand {
	margin-left:25px;
	font-size:12px;
	color:#8BADCF;
	cursor:pointer;
	text-decoration:underline;
}
.reorder {
	margin-left:25px;
	font-size:12px;
	color:#8BADCF;
	text-decoration:underline;
}

/*
  ****************************************
  TEST PAGE
  ****************************************
 */
 .error-table{
 	width:100%;
 }
.error-table td{
	padding:5px;
	border:0;
}
.error-table th{
	border:0;	
}
.indicator{
	width:5%;
	text-align:center;
}
.test-success {
	background-color:#47e547;
}
.test-fail {
	background-color:red;
}
/*
  ****************************************
  FORM LAYOUT
  ****************************************
 */
.submission {
	text-align:center;
	margin:10px 0;
}
.xforms-submit {
	margin-left:10px;
	margin-right:10px;
}
.navigation {
	width:190px;
	float:left;
}
#expand_components, #refresh {
	cursor:pointer;
	color:#8BADCF
}
#expand_components:hover, #refresh:hover {
	cursor:pointer;
	color:#627eb7;
}
#nav_list ul {
	margin-left:15px;
	padding:0;
}
#nav_list ul li {
	list-style-type:none;
}
.list-hidden {
	display:none;
}
.pair_div {
	width:80%;
	border:1px solid silver;
	margin-bottom:2px;
	display:table;
	padding:2px;
}
/*
  .xforms-group>div{
  display:table;
  }
 */
.section>div {
	display:table;
	width:100%;
}
.section {
	margin-bottom:25px;
	width:100%;
}
.subsection {
	padding:10px 0 10px 25px;
	width:95%;
}
/*
  ****************************************
  ORBEON XFORM SPECIFIC STYLE
  ****************************************
 */
.orbeon .xforms-control {
	margin-bottom: 10px;
}
.orbeon .xforms-label {
	font-weight: bold;
	display: inline-block;
	min-width: 9em 
}
.orbeon .xforms-select1-appearance-full .xforms-label {
	 vertical-align: top 
}
.orbeon .xforms-input input, .orbeon .xforms-textarea textarea, .orbeon .xforms-select1 select {
	width: 20em;
	margin-bottom: 2px;
}
.orbeon .xforms-repeat-selected-item-1 .form-td {
	 background-color: #f5f5f5 
}
.orbeon .xforms-items {
	 display: inline-block 
}
.trigger_container {
	margin-bottom:20px;
}
.xforms-trigger-appearance-minimal img {
	vertical-align: middle
}
.xforms-output {
	margin:0;
}
.xforms-trigger {
	text-decoration:none;
}
.xforms-repeat-selected-item-1, .xforms-repeat-selected-item-2, .xforms-repeat-selected-item-3, .xforms-repeat-selected-item-4 {
	background:inherit;
}
.xforms-repeat-selected-item-2 {
	background:none;
}
.xxforms-dialog-body>a, .xxforms-dialog-body>span {
	width:100px;
}
.xbl-component {
	margin:5px 0;
}
.ui-state-error, .ui-state-highlight {
	padding: 0pt 0.7em;
	margin:20px auto;
	width:400px;
	font-size:12px;
}
/*
  ****************************************
  EAD DISPLAY STYLING
  ****************************************
 */
#titlepage {
	text-align:center;
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid silver;
}
#archdesc-did {
	margin-bottom:25px;
}
#archdesc-info {
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid silver;
}
.toc_ul {
	margin:0 0 0 1em;
}
.toc_ul li {
	list-style-type:none;
}
#dsc-toc li {
	list-style-type:circle;
}
.archdesc-did-elements {
	display:table;
	width:100%;
}
.archdesc-did-elements dt {
	float:left;
	width:200px;
	margin-right:25px;
	text-align:right;
}
.archdesc-did-elements dd {
	margin-left:225px;
}
.c-did-elements {
	margin:0.5em 0 0.5em 10px;
}
.c-did-elements dt {
	float:left;
	width:100px;
	font-weight:normal;
}
.c-did-elements dd {
	margin-left:125px;
}
#dsc-list li {
	list-style-type:none;
}
div.ctop {
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid silver;
	display:table;
	width:100%;
}
div.cchild {
	margin-left:25px;
	margin-bottom:10px;
	display:table;
	width:95%;
}
div.container {
	float:right;
	color:gray;
	width:20%;
}
.con1 {
	width:80%;
	float:left;
}
.clevel {
	margin-left:10px;
}
.cchild p {
	margin:0 0 5px 0;
	padding:0px;
}
.external_link {
	margin-left:10px;
}
/*
  ****************************************
  CONTROLLED VOCABULARY MANAGEMENT
  ****************************************
 */
.term_results {
	background-color:#EFEFEF;
	border:1px solid silver;
	padding:5px;
	margin:20px;
}
/*
  ****************************************
  SEARCH/BROWSE RESULTS PAGE
  ****************************************
 */
.flickr-link {
	cursor:pointer;
}
#search_options {
	display:block;
	width:100%;
}
.result_div {
	display:table;
	padding:20px 0 20px 0;
	border-bottom:1px dotted silver;
	margin-bottom:20px;
	width:100%;
}
.result_info {
	margin-left:25px;
	width:60%;
	float:left;
}
.result_info dt {
	float:left;
	width:150px;
}
.result_info dd {
	margin-left:150px;
}
.flickr-link {
	cursor:pointer;
}
.search_forms {
	display:table;
	width:100%;
	padding:5px;
}
.option_container {
	width:225px;
	margin-left:20px;
	margin-right:20px;
}
.option_container>.ui-selectmenu {
	margin-left:20px;
}
.category_list {
	width:175px;
	margin-left:0px;
	margin-right:0px;
}
.search_text {
	width:175px;
	padding:0.3em 1em;
	border:1px solid silver;
	font-size:14px;
}
.year_int {
	width:30px;
	margin-left:0px;
	margin-right:5px;
}
.year_era {
	width:55px;
	margin-right:5px;
	margin-left:0px;
}
.year_range {
	margin-left:15px;
	margin-right:5px;
	width:101px;
}
#removeBtn_1 {
	display:none;
}
#searchItemTemplate {
	display:none;
}
.searchItemTemplate {
	padding:5px 0;
	margin:10px 0;
}
button.ui-multiselect {
	margin-bottom:10px;
}
.submit_div {
	text-align:center;
}
.stacked_term {
	margin:5px 0;
}
.remove_filter {
	float:right;
}
/* Quick Search */
.quick_search {
	margin:5px 0;
	padding:5px 0;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
}
#qs_text {
	width:100px;
	border:1px solid silver;
	padding:2px;
}
#qs_button {
	float:right;
}
/* Date (century/decade) facet styling */
.date-div {
	margin-top:-10px;
}
.century-multiselect-checkboxes {
	display:table;
	width:100%;
}
.decades-list {
	margin:0 0 0 25px;
}
.close {
	float:right;
	text-decoration:underline;
	padding-right:10px;
}
.close:hover {
	font-weight:bold;
	cursor:pointer;
}
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute;
/* hack for internet explorer 6 */
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:2001;
/*
  background-color:black;
  opacity:0.6;
 */
}
/*
  ****************************************
  PAGINATION
  ****************************************
 */
.paging_div {
	width:100%;
	display:table;
	padding-top:10px;
	padding-bottom:10px;
}
.pagingBtn, .pagingSep {
	padding:2px;
	text-decoration:none;
}
.pagingBtn {
	font-weight:bold;
}
.pagingBtn:hover {
	background-color:#DDDDDD;
	text-decoration:underline;
}
/*
  ***************************************
  MAPS
  ***************************************
 */
 #resultMap {
	width:600px;
	height:400px;
}
#clear_all {
	font-size:80%;
	margin-left:25px;
}
.ui-tabs .ui-tabs-hide {
	position: absolute;
	left: -10000px;
}
.olLayerGooglePoweredBy {
	display:none;
}
/*
  .olLayerGoogleCopyright {
  top:-1000px;
  }
 */
#add_filter {
	font-weight:bold;
	font-size:120%;
	text-transform:capitalize;
}
#add_filter:first-letter {
	font-size:140%;
}
.g_doc {
	width:30%;
	float:left;
	height:325px;
}
/* gallery image container */
.gi_c {
	margin:5px 0;
	text-align:center;
}
/* gallery image */
.gi {
	padding:0px 5px;
	max-width:120px;
}
/*.filter_facet {
	width:12%;
	float:left;
	padding:2px;
	margin:2px 2px;
	z-index:0;
	background-color:#D9D4C8;
	border:1px solid #C2B9A9;
	cursor:pointer;
}
.filter_facet_selected {
	width:12%;
	float:left;
	padding:2px;
	margin:2px 2px;
	z-index:0;
	background-color:#C2B9A9;
	border:1px solid #C2B9A9;
	cursor:pointer;
}
.filter_facet:hover {
	color:gray;
}
.filter_heading {
	width:100%;
}
.filter_terms {
	position:absolute;
	z-index:2002;
	width:200px;
	padding:3px;
}*/
#filter_list {
	margin:0;
	padding:0;
}
#filter_list li {
	list-style-type:none;	
}
.fl {
	float:left;
	width:20%;
}
/*
  ***************************************
  Timemap CSS
  ***************************************
 */
div#timelinecontainer {
	width:100%;
	height: 250px;
}
div#mapcontainer {
	width:100%;
	height: 600px;
}
div.olFramedCloudPopupContent {
	width: 300px;
}
div#help {
	font-size: 12px;
	width: 45em;
	padding: 1em;
}
/*
  div#timemap {
  padding: 1em;
  }
 */
div#timeline {
	width: 100%;
	height: 100%;
	font-size: 12px;
	background: #CCCCCC;
}
div#map {
	width: 100%;
	height: 100%;
	background: #EEEEEE;
}
div.infotitle {
	font-size: 14px;
	font-weight: bold;
}
div.infodescription {
	font-size: 14px;
	font-style: italic;
}
div.custominfostyle {
	font-family: Georgia, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	width: 20em;
}
/*
  ***************************************
  jQuery UI Menubar @VERSION
  ***************************************
  * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
  * Dual licensed under the MIT or GPL Version 2 licenses.
  * http://jquery.org/license
 */
.ui-menubar {
	list-style: none;
	margin: 0;
	padding-left: 0;
	border-left:0px;
	border-right:0px;
}
.ui-menubar-item {
	float: left;
	list-style-type:none;
}
.ui-menubar .ui-button {
	float: left;
	font-weight: normal;
	border-top-width: 0 !important;
	border-bottom-width: 0 !important;
	margin: 0;
	outline: none;
}
.ui-menubar .ui-menubar-link {
	border-right: 1px dashed transparent;
	border-left: 1px dashed transparent;
}
.ui-menubar .ui-menu {
	width: 200px;
	position: absolute;
	z-index: 9999;
}