/*
  ****************************************
  GLOBAL
  ****************************************
 */
 body {
	margin:20px auto;
	min-width:960px;
	max-width:100%;
}
.content {
	padding:5px;
}
/*
  ****************************************
  FORM LAYOUT
  ****************************************
 */
 #form h1,#form h2, #form h3, #form h4,#form h5,#form h6 {
	display:inline;
}
.submission {
	text-align:center;
	margin:10px 0;
	font-size:larger;
}
.xforms-submit {
	margin-left:10px;
	margin-right:10px;
}
.navigation {
	width:190px;
	float:left;
}
#expand_components, #refresh {
	cursor:pointer;
	color:#8BADCF
}
#expand_components:hover, #refresh:hover {
	cursor:pointer;
	color:#627eb7;
}
.list-hidden {
	display:none;
}
.pair_div {	
	border-radius: 5px;
	border:1px solid silver;
	margin-bottom:2px;
	padding:5px;
	display:table;
}
/*
  .xforms-group>div{
  display:table;
  }
 */
.section>div {
	display:table;
	width:100%;
}
.section {
	margin-bottom:25px;
	width:100%;
}
.subsection {
	padding:10px 0 10px 15px;
}
.alert-box {
	width:50%;
	margin:20px auto;
	padding:5px;
	border-radius: 4px;
	border: 1px solid gray;
}
/*
  ****************************************
  ORBEON XFORM SPECIFIC STYLE
  ****************************************
 */
.orbeon .xforms-control {
	margin-bottom: 10px;
}
.orbeon .xforms-label {
	font-weight: bold;
	display: inline-block;
	min-width: 12em 
}
.orbeon .xforms-select1-appearance-full .xforms-label {
	 vertical-align: top 
}
.orbeon .xforms-input input[type=text], .orbeon .xforms-textarea textarea, .orbeon .xforms-select1 select {
	width: 24em;
	margin-bottom: 2px;
}
.xforms-control-half .xforms-input input[type=text], .xforms-control-half .xforms-textarea textarea, .xforms-control-half  .xforms-select1 select {
	width: 12em;
	margin-bottom: 2px;
}
.orbeon .checkbox input {
	width: 5em;
	margin-bottom: 2px;
}
.orbeon .xforms-repeat-selected-item-1 .form-td {
	 background-color: #f5f5f5 
}
.orbeon .xforms-items {
	 display: inline-block 
}
.trigger_container {
	margin-bottom:20px;
}
.xforms-trigger-appearance-minimal img {
	vertical-align: middle
}
.xforms-output {
	margin:0;
}
.xforms-output-output {
	padding:0;
	line-height:inherit;
	display:inline;
	font-size:inherit;
	color:black
}
.xforms-trigger {
	text-decoration:none;
}
.xforms-repeat-selected-item-1, .xforms-repeat-selected-item-2, .xforms-repeat-selected-item-3, .xforms-repeat-selected-item-4 {
	background:inherit;
}
.xforms-repeat-selected-item-2 {
	background:none;
}
.xxforms-dialog-body>a, .xxforms-dialog-body>span {
	width:100px;
}
.xbl-component {
	margin:5px 0;
}
.add {
	display:inline;	
}
.xbl-eaditor-generic-elements, .xbl-eaditor-attributes, .xbl-eaditor-access-elements, .xbl-eaditor-delete-dialog {
	display:inline;
	color:gray;	
}

/*
  ****************************************
  PAGINATION
  ****************************************
 */
.paging_div {
	width:100%;
	display:table;
	padding-top:10px;
	padding-bottom:10px;
}
.pagingBtn, .pagingSep {
	padding:2px;
	text-decoration:none;
}
.pagingBtn {
	font-weight:bold;
}
.pagingBtn:hover {
	background-color:#DDDDDD;
	text-decoration:underline;
}
/*
  ****************************************
  ADMIN PAGE
  ****************************************
 */
.page_toc {
	font-size:12px;
}
.browse_table {
	width:100%;
}
.odd-row {
	background-color:white;
	margin:10px 0;
	padding:10px 0;
	vertical-align:top;
}
.even-row {
	background-color:#EFEFEF;
	margin:10px 0;
	padding:10px 0px;
	vertical-align:top;
}
.center {
	text-align:center;
}
.expand {
	margin-left:25px;
	font-size:12px;
	color:#8BADCF;
	cursor:pointer;
	text-decoration:underline;
}
.reorder {
	margin-left:25px;
	font-size:12px;
	color:#8BADCF;
	text-decoration:underline;
}
/*
  ****************************************
  TEI ANNOTATIONS
  ****************************************
 */
.annot {
	width:100%;
	height:600px;
}
#image-container {
	display: none;
}