ul li {
	list-style-type:none;
}
.component {
	border:1px solid silver;
	margin:5px 0;
}
.expanded li {
	display:normal;
	background-color:#EBEBEB;
	padding:5px;
	margin:5px;
	border:1px solid silver;
}