/*
  ****************************************
  GLOBAL
  ****************************************
 */
@import url(//fonts.googleapis.com/css?family=Cuprum&#038;subset=latin);
html{
	background-color:#F8F8F8;
	background-attachment:scroll;
	background-image:url("http://numismatics.org/authorities/ui/images/pattern.gif");
	background-position:center top;
	background-repeat:repeat;
}
body{
	color:#535e70;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}
.navbar{
	margin-bottom:0;
	border-bottom:4px solid black;
}
a > img{
	border:none;
}
.highlight{
	background-color:#F8F8F8;
	border:1px solid #E7E7E7;
	border-radius:4px;
	margin:10px 0;
	padding:10px 15px;
}
ul li,
ol li{
	list-style-type:none;
}
h1,
h2,
h3,
h4,
h5,
h6{
	color:#434343;
	font-family:Cuprum, sans-serif;
}
a{
	color:#e64100;
	text-decoration:none;
}
a:hover,
a:focus{
	color:#535e70;
	text-decoration:underline
}
/*
  ***************************************
  FOOTER
  ***************************************
 */
#footer{
	background-color:#535e70;
	border-top:1px solid #F8F8F8;
	padding-top:10px;
	padding-bottom:10px;
	color:white;
}
#footer a{
	color:white;
	text-decoration:underline;
}
/*
  ****************************************
  EAD DISPLAY STYLING
  ****************************************
 */
#titlepage{
	text-align:center;
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid silver;
}
#archdesc-did{
	margin-bottom:25px;
}
#archdesc-info{
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid silver;
}
.toc_ul{
	padding:0;
	margin:0;
}
.toc_ul ul{
	margin-left:2em;
	padding:0;
}
.toc_ul li{
	list-style-type:none;
}
#dsc-toc li{
	list-style-type:circle;
}
#dsc-list li{
	list-style-type:none;
}
div.ctop{
	margin-bottom:25px;
	padding-bottom:25px;
	border-bottom:1px solid silver;
	display:table;
	width:100%;
}
div.cchild{
	margin-left:25px;
	margin-bottom:10px;
	display:table;
	width:95%;
}
.con1{
	width:80%;
	float:left;
}
.clevel{
	margin-left:10px;
}
.cchild p{
	margin:0 0 5px 0;
	padding:0px;
}
.external_link{
	margin-left:10px;
}
.display-thumb{
	height:160px;
}
/*
  ****************************************
  SEARCH PAGE
  ****************************************
 */
.option_container{
	width:200px;
	vertical-align:bottom;
}
.option_container select,
.option_container input{
	display:inline;
}
.category_list,
select[name = "interval"],
#stacking,
#image{
	width:175px;
	display:inline;
}
.sortForm_categories,
.sortForm_order{
	width:175px;
	margin-left:0px;
	margin-right:10px;
	display:inline;
}
.search_text{
	width:200px;
	margin-left:15px;
	margin-right:5px;
	display:inline;
}
#searchItemTemplate,
#sparqlItemTemplate{
	display:none;
}
.searchItemTemplate{
	padding-top:5px;
	padding-bottom:5px;
}
.year_int{
	width:30px;
	margin-left:0px;
	margin-right:5px;
}
.year_era{
	width:55px;
	margin-right:5px;
	margin-left:0px;
}
.year_range{
	margin-left:15px;
	margin-right:5px;
	width:101px;
}
/*
  ****************************************
  BROWSE RESULTS PAGE
  ****************************************
 */
.flickr-link{
	cursor:pointer;
}
#search_options{
	display:block;
	width:100%;
}
button.multiselect{
	margin:5px 0;
}
#qs_text{
	width:50%;
	display:inline;
	margin-right:20px;
}
.flickr-link{
	cursor:pointer;
}
.submit_div{
	text-align:center;
}
.stacked_term{
	margin:5px 0;
}
.right{
	text-align:right;
}
.remove_filter{
	float:right;
}
.sort_div{
	margin:10px 0;
}
#backgroundPopup{
	display:none;
	position:fixed;
	_position:absolute;
	/* hack for internet explorer 6 */
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index:2001;
}
.multiselect,
.hierarchical-facet,
.date-facet{
	width:250px;
	margin:5px 0;
}
#century_num-list,
.hier-list{
	max-height:250px;
	width:250px;
	overflow-y:auto;
	overflow-x:hidden;
	width:100%;
	z-index:3000;
}
.expand_century,
.expand_category{
	cursor:pointer;
	margin:1px;
}
/*
  ****************************************
  SPARQL
  ****************************************
 */
#sparqlForm{
	margin:20px 0;
}
#sparqlForm select{
	width:200px;
}
.CodeMirror{
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color:#555;
	padding:6px 12px;
	transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.CodeMirror:focus{
	border-color:#66afe9;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline:0 none;
}
/*
  ****************************************
  PAGINATION
  ****************************************
 */
.paging_div{
	padding:10px 0;
	vertical-align:baseline;
}
.page-nos{
	text-align:right;
}
.pagination{
	margin:0;
	padding:0;
}
.pagination a,
.pagination button{
	height:32px;
}
/*
  ***************************************
  MAPS
  ***************************************
 */
#resultMap{
	width:600px;
	height:400px;
}
#clear_all{
	font-size:80%;
	margin-left:25px;
}
.ui-tabs .ui-tabs-hide{
	position:absolute;
	left:-10000px;
}
.olLayerGooglePoweredBy{
	display:none;
}
/*
  .olLayerGoogleCopyright {
  top:-1000px;
  }
 */
#add_filter{
	font-weight:bold;
	font-size:120%;
	text-transform:capitalize;
}
#add_filter:first-letter{
	font-size:140%;
}
.g_doc{
	width:30%;
	float:left;
	height:325px;
}
/* gallery image container */
.gi_c{
	margin:5px 0;
	text-align:center;
}
/* gallery image */
.gi{
	padding:0px 5px;
	max-width:120px;
}
#filter_list{
	margin:0;
	padding:0;
}
#filter_list li{
	list-style-type:none;
}
.fl{
	float:left;
	width:20%;
}
/*
  ***************************************
  TEI Display
  ***************************************
 */
/*
  #map-annotate-button {
  position:absolute;
  top:3px;
  right:3px;
  background-color:#000;
  color:#fff;
  padding:3px 8px;
  z-index:10000;
  font-size:11px;
  text-decoration:none;
  }
 */
#annot-parent{
	position:relative;
	width:50%;
	height:600px;
}
#annot{
	background-color:white;
	width:100%;
	height:600px;
}
#slider{
	border:1px solid silver;
	width:100%;
	margin:20px 0;
	table-layout:fixed;
}
#slider-thumbs{
	overflow-x:scroll;
	white-space:nowrap;
	height:250px;
}
#left-scroll,
#right-scroll{
	width:5%;
	height:250px;
	background-color:#ebebeb;
	font-size:32px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
.page-image img{
	margin:5px;
	border:2px solid black;
	opacity:0.5;
	margin-top:20px;
}
img.selected{
	border:2px solid orange;
	opacity:1.0;
}
.page-image:hover img{
	border:2px solid orange;
	opacity:1.0;
}
#prev-page,
#goto-container,
#next-page{
	border-right:1px solid silver;
	padding:0 5px;
}
.disabled:link{
	color:black;
	font-style:italic;
	pointer-events:none;
}
#goto-page{
	max-width:250px;
	display:inline;
}
/*
  ***************************************
  Timemap CSS
  ***************************************
 */
div#timelinecontainer{
	width:100%;
	height:150px;
}
#map-page #mapcontainer{
	width:100%;
	height:600px;
}
#display-map #mapcontainer{
	width:100%;
	height:400px;
}
div.olFramedCloudPopupContent{
	width:300px;
}
div#help{
	font-size:12px;
	width:45em;
	padding:1em;
}
/*
  div#timemap {
  padding: 1em;
  }
 */
div#timeline{
	width:100%;
	height:100%;
	font-size:12px;
	background:#CCCCCC;
}
div#map{
	width:100%;
	height:100%;
	background:#EEEEEE;
}
div.infotitle{
	font-size:14px;
	font-weight:bold;
}
div.infodescription{
	font-size:14px;
	font-style:italic;
}
div.custominfostyle{
	font-family:Georgia, Garamond, serif;
	font-size:1.5em;
	font-style:italic;
	width:20em;
}